
@media only screen and (max-width: 1400px) {

    .bnr_info h2 { font-size: 53px;}
    .bnr_info p { width: 90%;}

}

@media only screen and (max-width: 1200px) {

    .header_btn { gap: 10px;}

    .nav_menu {gap: 20px;padding-right: 110px;}

    .bnr_info h2 {     font-size: 45px;   }
    .bnr_info h3 { letter-spacing: 2px;}
    .bnr_info p { width: 100%;}

}

@media only screen and (max-width: 1000px) {

    .header_holder {padding-inline: 12px;}
    .bnr_boxes section { width: 45%;}



}

@media only screen and (max-width: 900px) {

    .main_logo { width: 13%;}
    .header_btn {gap: 5px;}
    .header_btn a {   padding-inline: 12px; }
    .bnr_video_holder { height: 600px;}
    .video-play-button { width: 90px; height: auto;}
    .video-play-button span { padding-top: 13px;}

}

@media only screen and (max-width: 800px) {


    /* .nav_menu {  margin: 0;     padding: 100px 10px 30px;     text-align: center;     position: fixed;     left: -900px;     top: 0;     gap: 0;    width: fit-content;   background: red;     transition: 0.3s;     height: 100vh;}
    .nav_menu.active { left: 0; z-index: 3;}
    .nav_menu li {width: 100%;     margin: 5px 3px;     padding: 0 !important; }
    .nav_menu li a {     border: 0;     border-radius: 5px;     line-height: 50px;     height: auto;     padding: 5px !important;  font-size: 40px;  }
    */
    .nav_menu { position: fixed;  top: 0; gap: 0; flex-direction: column; background: #8a8686; width: 100%; text-align: center; transition: 0.3s; padding: 0; bottom: unset;left: 0;}
    .nav_menu li { margin: 15px 0; }
    .nav_menu li.active {  left: 0; }


#hamburger_menu { display: block; width: fit-content;  position: absolute; z-index: 4; right: 20px;left: auto;}
#hamburger_menu.active .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }
#hamburger_menu.active .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }
#hamburger_menu.active .bar:nth-child(2) {opacity: 0; }

.main_logo {     width: 100%;   }

}