@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-font:  "Poppins", sans-serif;
    --secondary-font: "Open Sans", sans-serif;

    --fontSize: 18px;

    --primary-color: #007EF9;
    --secondary-color: #1a1a1a;
    --hover-color: rgb(3, 98, 194);

    --wrapper: 1765px;

}

/* Preset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


.wrapper { width: 100%;   max-width: var(--wrapper);   margin: 0 auto;   position: relative;}

html { scroll-behavior: smooth;}
html, body { overflow-x: hidden;}
body{ background: #F8FAFB; font-family: var(--secondary-font); font-size: var(--fontSize);  font-weight: 400; color:var(--secondary-color); position:relative; }
/* body::before { content: ""; position: absolute; top: 0; left: 0; right: 0; background: url(../images/screenshot.png) no-repeat top center; opacity: 0.5;width: 100%;height: 100%;} */
img { width: 100%;}


.main_holder { }

header { padding: 0 10px;}
.header_con { padding: 28px 0 0;}

.header_holder { border-radius: 150px;min-height: 100px;padding-block: 20px;padding-inline: 30px;background: #fff;}

.main_logo { max-width: 156px;width: 100%;}
.main_logo img { }

.header_info { position: relative;z-index: 1;}
.header_btn { gap: 20px;}
.header_btn a { }

.btn { font-weight: 700; transition: all .5s;}

.btn1 { }
.btn2 { color: white; background: var(--primary-color);}
.btn3 { background: #fff;}
/* .hdr_btn2:hover { background: var(--hover-color);} */
.btn:hover { background: var(--hover-color); color: #fff; border-color: transparent; }

.btn { max-width: max-content; width: 100%;}

nav { }
.nav_con { } 
.nav_menu { position: absolute;bottom: 38px;left: 0;right: 0;padding-right: 145px; gap: 48px;} 
.nav_menu li { } 
.nav_menu li a { font-size: 20px;font-weight: 600;text-decoration: none;color: var(--secondary-color); position: relative;} 
.nav_menu li a:before { content: ""; position: absolute; bottom: -10px; right: 0; left: 0; width: 0; height: 2px; margin: 0 auto; background: var(--primary-color); transition: .5s;}
.nav_menu li a:hover:before, .nav_menu li a:active:before {width: 100%; } 

#hamburger_menu { display: none; cursor: pointer; }
.bar { display: block; background: var(--secondary-color); width: 40px; height: 5px; margin: 5px auto; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; border-radius: 20px; }


.banner { padding: 0 15px; }
.bnr_con { padding: 90px 0;display: flex;justify-content: space-between;gap: 10px;}
.bnr_holder { max-width: 1025px;width: 100%;}
.bnr_info { }
.bnr_info h3 { text-transform: uppercase;font-size: 20px;font-weight: 700;letter-spacing: 5px;color: var(--primary-color);}
.bnr_info h2 { font-size: 62px;font-weight: 700;}
.bnr_info h2  span { display: block;}
.bnr_info p { font-weight: 700;width: 73%;padding: 20px 0;line-height: 185%;}
.bnr_btn { }
.bnr_btn a { }
.bnr_btn a:hover { }

.bnr_boxes { margin-top: 85px;display: flex;justify-content: space-around;gap: 10px;flex-wrap: wrap;}
.bnr_boxes section { max-width: 320px;width: 32%;border-radius: 30px;padding: 30px 35px;background: #fff;}
.bnr_boxes section .stars{ }
.bnr_boxes section .stars figure{ }
.bnr_boxes section .stars figure img{ width: 140px;}

.bnr_boxes section .card_logo{ }
.bnr_boxes section .card_logo img { width: 166px;}

.bnr_boxes section h3{ color: #747777;margin: 10px 0;font-size: 22px;}
.bnr_boxes section p { font-size: 17px;font-weight: 500;}

.bnr_video_holder { max-width: 600px; height: 785px; position: relative;  border-radius: 40px; overflow: hidden; width: 100%;}

.bnr_video_holder iframe { width: 100%; height: 100%;}

  .video-play-button { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); box-sizing: content-box; display: block; width: 110px; height: 120px; border-radius: 50%; padding: 18px 20px 18px 28px; background: var(--primary-color); transition: all 200ms; aspect-ratio: 1/1; }
  
  .video-play-button span { display: block; position: relative; z-index: 3; content: url(../images/icons/play-icon.png); filter: brightness(0) invert(1); margin: 0 auto; padding-top: 29px; }
  
  .video-play-button:hover { background: var(--hover-color); }
  
  .video-close-button { position: absolute; right: 40px; top: 40px; color: #fff; font-size: 36px; font-weight: 800; text-decoration: none; transition: all ease 500ms; pointer-events: auto; z-index: 4; }
  
  .show-video { position: fixed; z-index: 5; inset: 0; background: rgba(0,0,0,0.80); transition: all ease 1500ms; width: 100%; height: 100%;display: none;  }
  
  /* .show-video.show { opacity: 1; visibility: visible; display: block; z-index: 10; }
  
  .show-video.hide { opacity: 0; visibility: hidden; } */

  .video-holder { width: 100%;     top: 50%; left: 50%; transform: translate(-50%, -50%); position: absolute; }
  
  .show-video iframe{       width: 600px;height: 700px;margin: 0 auto;}
  
  
  
  
  